project:
  type: website
  output-dir: _site

website:
  title: "Your Site"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: linked.qmd
        text: Secondary

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true